Flask==1.1.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
numpy>=1.18.4
tensorflow==1.5.0
opencv-python==4.5.1.48
scipy>=1.4.1
Keras>=2.0.9
librosa>=0.7.2
sounddevice>=0.2.0
urllib3==1.25.9
Werkzeug==1.0.1
uwsgi
